{{blog}}

<h1 ng-repeat="x in manish">{{x.firstName}}</h1>

<button ng-click="myFunc()">Show Data</button>
<table width="100%" border="0">
  <tbody>


  <tr>
  <th ng-repeat="x in header">{{x}}</th>

  </tr>
    <tr ng-repeat="x in exam.result">
      <td>{{x.created_on}}</td>
      <td>{{x.client_type}}</td>
      <td>{{x.zone_id}}</td>
      <td>{{x.modified_on}} </td>
      <td>{{x.zone_name}}</td>
      <td>{{x.is_active}}</td>
      <td>{{x.campaign_id}}</td>
      <td>{{x.region_id}}</td>
      <td>{{x.client_type}}</td>
       <td>{{x.name}}</td>
    </tr>

  </tbody>

</table>




<div></div>